<div class="tab">
  {%- for tab in product.selected_or_first_available_variant.metafields.custom.tabs.value -%}
    <button
      class="tablinks {%- if forloop.first %} active {%- endif -%}"
      onclick="openTab(event, '{{ tab.title }}')"
    >
      {{ tab.title }}
    </button>
  {%- endfor -%}
</div>

{%- for tab in product.selected_or_first_available_variant.metafields.custom.tabs.value -%}
  <div
    id="{{ tab.title }}"
    class="tabcontent"
    {%- if forloop.first -%}
      style="display: block;"
    {%- endif -%}
  >
    <p>{{ tab.content | metafield_tag }}</p>
  </div>
{%- endfor -%}
